[{logger, [
    {level, info},
    {handlers, [
        {standard_logger, % Console handler
         #{level => info,
           formatter => {logger_formatter, #{template => [time," [",level,"] ",{module,["",module,": "],""},message,"\n"]}}}},
        {file_handler, % Error log file
         #{config => #{file => "error.log"},
           level => error,
           formatter => {logger_formatter, #{template => [time," [",level,"] ",{module,["",module,": "],""},message,"\n"]}}}},
        {file_handler_info, % Console log file
         #{config => #{file => "console.log"},
           level => info,
           formatter => {logger_formatter, #{template => [time," [",level,"] ",{module,["",module,": "],""},message,"\n"]}}}}
    ]}
]}].

% vim: set filetype=erlang :
